@*Razon page for adding new bill*@
@page
@model HWK6.Pages.ExpenseAnalysis.AddBillModel
@{
}
<br>
<h2>Create Todo</h2>
@if (@Model.errorMessage.Length > 0) {
    <div>@Model.errorMessage</div>
    }
<form method="POST">
    <table>
        <tr>
            <td>Amount</td>
            <td>
                <input type="text" name="amount" value="@Model.bill.Amount">
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <input type="text" name="category" value="@Model.bill.Category">
            </td>
        </tr>
    </table>
    <p></p>
    @if (@Model.successMessage.Length > 0)
    {
        <div>@Model.successMessage</div>
        }
<input type="submit" value="Add" class="btn btn-primary" />
</form>

